@{
	string srcIconCalculator = "/calk2.png";
	string srcIconHistory = "/history.png";

	string adresCalcularot = "/Calculator";
	string adresHistoru = "/History";
	string addresSettingPaper = "/Setting/Paper";
	string addresSettingLamination = "/Setting/Lamination";
	string addresSettingConsumable = "/Setting/Consumable";
	string addresMailTransfer = "/MailTransfer/Admin";
}
<!DOCTYPE HTML>
<html>

<head>
	@RenderSection("Style",false)

	<link rel="stylesheet" type="text/css" href="/menu.css">
	<title>Калькулятор</title>
</head>

<body>
	<div class="header">
		<div class="logo">
			<img class="logo" src="/logo_PrintLife.svg" />
		</div>
		<div class="rightElementOnHeder">
			<p class="rightHeader">by ojiegko</p>
			<a class="rightHeader" href="/Homes/Changelog">v1.00</a>
		</div>
	</div>
	<div class="downBody">
		<div class="menu">
			<ul class="NavigationBar">

				<li class="li-margin">
					<a href="@adresCalcularot">
						<div><img class="imagMenu" src="@srcIconCalculator" /></div>
						<div>КАЛЬКУЛЯТОР</div>
					</a>
				</li>
				<li class="li-margin">
					<a href="@adresHistoru">
						<div><img class="imagMenu" src="@srcIconHistory" /></div>
						<div>ИСТОРИЯ</div>
					</a>
				</li>
				<li class="li-margin">
					<a href="@addresMailTransfer">
						
						<div>e-mail</div>
					</a>
				</li>

				<li class="li-margin">
					<details class=detalMenu>
						<summary>Настройки</summary>
						<div>
							<a href="@addresSettingPaper">
								<div></div>
								<div>настройки бумаги</div>
							</a>
						</div>
						<div>
							<a href="@addresSettingLamination">
								<div></div>
								<div>настройки ламинации</div>
							</a>
						</div>
						<div>
							<a href="@addresSettingConsumable">
								<div></div>
								<div>расходникт принтера</div>
							</a>
						</div>


					</details>
				</li>


			</ul>
		</div>

		<div class="main-body">
			@RenderBody()
		</div>
	</div>
	@RenderSection("JS",false)
</body>
</html>
