@{
	string srcIconCalculator = "/calk2.png";
	string srcIconHistory = "/history.png";

	string adresCalcularot = "/Calculator";
	string adresHistoru = "/History";
	string addresSettingPaper = "/Setting/Paper";
}
<!DOCTYPE HTML>
<html>

<head>
	@RenderSection("Style",false)
	
	<link rel="stylesheet" type="text/css" href="/menu.css">
	<title>Калькулятор</title>
</head>

<body>
	<div class="header">
		<div class="logo">
			<img class="logo" src="/logo_PrintLife.svg" />
		</div>
		<div class="rightElementOnHeder">
			<p class="rightHeader">by ojiegko</p>
			<a class="rightHeader" href="/Homes/Changelog">v0.23</a>
		</div>
	</div>
	<div class="downBody">
		<div class="menu">
			<ul class="NavigationBar">
				<li class="li-margin">
					<a href="@adresCalcularot">
						<div><img class="imagMenu" src="@srcIconCalculator" /></div>
						<div>КАЛЬКУЛЯТОР</div>
					</a>
				</li>
				<li class="li-margin">
					<a href="@adresHistoru">
						<div><img class="imagMenu" src="@srcIconHistory" /></div>
						<div>ИСТОРИЯ</div>
					</a>
				</li>
				<li class="li-margin">
					<a href="@addresSettingPaper">
						<div></div>
						<div>настройки бумаги</div>
					</a>
				</li>
			</ul>
		</div>

		<div class="main-body">
			@RenderBody()
		</div>
	</div>
	@RenderSection("JS",false)
</body>
</html>
