@model List<SimplResult>
@using printing_calculator.ViewModels;
@using Microsoft.AspNetCore.Html;

@{
	Layout = "_Layout";
	HtmlString Pos(SimplResult result)
	{
		string PosLogo = string.Empty;
		if (result.Lamination)
		{
			PosLogo += "<img class='imagPos' src='lamination.svg'/>";
		}
		if (result.Creasing)
		{
			PosLogo += "<img class='imagPos' src='creesing.svg'/>";
		}
		if (result.Drilling)
		{
			PosLogo += "<img class='imagPos' src='driling.svg'/>";
		}
		if (result.Rounding)
		{
			PosLogo += "<img class='imagPos' src='rolling.svg'/>";
		}
		if (PosLogo == string.Empty)
		{
			PosLogo = "-";
		}
		return new HtmlString(PosLogo);
	}
}

@section Style {
<link rel="stylesheet" type="text/css" href="history.css">
}

<p>Итория</p>
<div class="tableFlex">
	<div style="overflow-x:auto;">
		<table>
			<tr>
				<th>
					<div class="textTableHistory">N</div>
				</th>
				<th>
					<div class="textTableHistory">размер</div>
				</th>
				<th>
					<div class="textTableHistory">тираж</div>
				</th>
				<th>
					<div class="textTableHistory">бумага</div>
				</th>
				<th>
					<div class="textTableHistory">постпечатная</div>
				</th>
				<th>
					<div class="textTableHistory">цена</div>
				</th>
			</tr>

			@foreach (SimplResult result in Model)
			{
				<tr onclick="document.location='CalculatorResult?id=@result.HistoryId'">
					<td>
						<div class="textTableHistory">@result.HistoryId</div>
					</td>
					<td>
						<div class="textTableHistory">@result.Height x @result.Whidth</div>
					</td>
					<td>
						<div class="textTableHistory">@result.Amount</div>
					</td>
					<td>
						<div class="textTableHistory">@result.PaperName</div>
					</td>
					<td>
						<div>
							@Pos(result)
						</div>
					</td>
					<td>
						<div class="textTableHistory">@result.Price</div>
					</td>
				</tr>
			}
			</tr>
		</table>
	</div>
</div>