@model HistoryPage
@using printing_calculator.ViewModels;
@using Microsoft.AspNetCore.Html;

@{
	Layout = "_Layout";
	HtmlString Pos(SimpleResult result)
	{
		string PosLogo = string.Empty;
		if (result.Lamination)
		{
			PosLogo += "<img class='imagPos' src='lamination.svg'/>";
		}
		if (result.Creasing)
		{
			PosLogo += "<img class='imagPos' src='creesing.svg'/>";
		}
		if (result.Drilling)
		{
			PosLogo += "<img class='imagPos' src='driling.svg'/>";
		}
		if (result.Rounding)
		{
			PosLogo += "<img class='imagPos' src='rolling.svg'/>";
		}
		if (PosLogo == string.Empty)
		{
			PosLogo = "-";
		}
		return new HtmlString(PosLogo);
	}
	string addressHistory = "History";
	int maxButtonNext = 5;
	string addressBack;
	if (@Model.ThisPage > 0)
	{
		addressBack = @$"{addressHistory}?page={(Model.ThisPage - 1)}";
	}
	else
	{
		addressBack = addressHistory;
	}

	string addressForward = @$"{addressHistory}?page={Model.ThisPage + 1}";
	int countButtonPage = 5;
	if (countButtonPage > Model.CurrentPage)
	{
		countButtonPage = Model.CurrentPage;
	}

	int startBottonNext = Model.ThisPage - 2;
	if (startBottonNext <= 1)
	{
		startBottonNext = 1;
	}
	else if (startBottonNext + 5 > Model.CurrentPage)
	{
		startBottonNext = Model.CurrentPage - 4;
	}
}

@section Style {
<link rel="stylesheet" type="text/css" href="history.css">
}

<p>Итория</p>
<div class="tableFlex">
	<div style="overflow-x:auto;">
		<table>
			<tr>
				<th>
					<div class="textTableHistory">N</div>
				</th>
				<th>
					<div class="textTableHistory">размер</div>
				</th>
				<th>
					<div class="textTableHistory">тираж</div>
				</th>
				<th>
					<div class="textTableHistory">бумага</div>
				</th>
				<th>
					<div class="textTableHistory">постпечатная</div>
				</th>
				<th>
					<div class="textTableHistory">цена</div>
				</th>
			</tr>

			@foreach (SimpleResult result in Model.Results)
			{
				<tr onclick="document.location='CalculatorResult?id=@result.HistoryId'">
					<td>
						<div class="textTableHistory">@result.HistoryId</div>
					</td>
					<td>
						<div class="textTableHistory">@result.Height x @result.Whidth</div>
					</td>
					<td>
						<div class="textTableHistory">@result.Amount x @result.Kinds</div>
					</td>
					<td>
						<div class="textTableHistory">@result.PaperName</div>
					</td>
					<td>
						<div>
							@Pos(result)
						</div>
					</td>
					<td>
						<div class="textTableHistory">@result.Price</div>
					</td>
				</tr>
			}
		</table>
	</div>
</div>

<div class="pageBar">
	<form>
		<input class="buttonNext" type="submit" formmethod="post" formaction="@addressHistory" value="<<">
		<input class="buttonNext" type="submit" formmethod="post" formaction="@addressBack" value="<">

		@for (int i = startBottonNext; i < startBottonNext + countButtonPage; i++)
		{
			string addressButton = @$"{addressHistory}?page={i}";
			if (i == Model.ThisPage)
			{
				<input class="buttonNextActiv" type="submit" disabled="disabled" formmethod="post" formaction=@addressButton value="@(i)">
			}
			else
			{
				<input class="buttonNext" type="submit" formmethod="post" formaction=@addressButton value="@(i)">
			}

		}
		@if (Model.ThisPage == Model.CurrentPage)
		{
			<input class="buttonNextActiv" disabled="disabled" value=">">
		}
		else
		{
			<input class="buttonNext" type="submit" formmethod="post" formaction="@addressForward" value=">">
		}
	</form>
	<form>
		<input class="inputNumber" name="page" type="number" min=1 max=@Model.CurrentPage>
		<input class="button" type="submit" formmethod="post" formaction="@addressHistory" value="перейти">
	</form>
</div>