@model printing_calculator.ViewModels.Result.Result
@using printing_calculator.ViewModels.Result;
@{
	Layout = "_Layout";
	string size = $"{Model.Height}x{Model.Whidth}";
	string duplex = Model.ResultPaper.Duplex ? "4+4" : "4+0";
	int AllCostPrise = Model.ResultLamination.CostPrise + (int)Model.ResultPaper.CostPrise;
	int profit = (int)(Model.Prise - AllCostPrise);

	string formaction = @$"Calculator?HistoryId={Model.HistoryInputId}";

	string copyText = @$"Стоимость изготовления на бумаге {Model.ResultPaper.NamePaper} - {Model.ResultPaper.PrisePaper}";
	float PriceForOne = Model.Prise / (Model.Amount * Model.Kinds);
	float PriceForOneLamonation = Model.ResultLamination.Price / Model.ResultPaper.Sheets;
}

@section Stail {
<link rel="stylesheet" type="text/css" href="/result.css">
<script>
	function copu() {
	  navigator.clipboard.writeText('Стоимость изготовления на бумаге @Model.ResultPaper.NamePaper - @Model.ResultPaper.PrisePaper руб.')
	}
</script>
}
<div class="tableFlex">
	<div class="table">
		<table>
			<tr>
				<td colspan="2">
					<div class="meaning">@Model.ResultPaper.NamePaper</div>
					<div class="signature">бумага</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="meaning">@Model.Amount шт.</div>
					<div class="signature">тираж</div>
				</td>
				<td>
					<div class="meaning">@Model.Kinds</div>
					<div class="signature">видов</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="meaning">@size</div>
					<div class="signature">размер</div>
				</td>
				<td>
					<div class="meaning">@duplex</div>
					<div class="signature">цветность</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="meaning">@Model.ResultPaper.Sheets л.</div>
					<div class="signature">печатных листов</div>
				</td>
				<td>
					<div class="meaning">@Model.ResultPaper.PiecesPerSheet шт.</div>
					<div class="signature">штук на листе</div>
				</td>

			</tr>
		</table>
	</div>

	<div class="table">
		<table>
			<tr>
				<td colspan="2">
					<div class="meaning">@Model.Prise руб.</div>
					<div class="signature">Стоимость</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="meaning">@AllCostPrise руб.</div>
					<div class="signature">себестоимость</div>
				</td>
				<td>
					<div class="meaning">@profit руб</div>
					<div class="signature">чистая прибль</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="meaning">@PriceForOne шт/руб</div>
					<div class="signature">цена за еденицу</div>
				</td>
			</tr>
		</table>
	</div>

@*	<div class="table">
		<table>
			<tr>
				<td colspan="2">
					<div class="meaning">@Model.ResultLamination.Price руб.</div>
					<div class="signature">Стоимость</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="meaning">@Model.ResultLamination.CostPrise руб.</div>
					<div class="signature">себестоимость</div>
				</td>

			</tr>
			<tr>
				<td colspan="2">
					<div class="meaning">@Model.ResultLamination.Markup %</div>
					<div class="signature">нацека</div>
				</td>
			</tr>
		</table>
	</div>
	<p>@Model.Prise цена</p>*@

</div>
<p>из них стоимость </p>
<p> -печати - @Model.ResultPaper.PrisePaper </p>
<p> -ламинация - @Model.ResultLamination.Price за еденицу @PriceForOneLamonation руб/лист - наценка @Model.ResultLamination.Markup % - себес @Model.ResultLamination.CostPrise руб.</p>
<p> -биговка - @Model.ResultPos.CreasingPrice</p>
<p> -сверление - @Model.ResultPos.DrillingPrice</p>
<p> -скругление угло - @Model.ResultPos.RoundingPrice</p>



<div class="button">
	<form>
		<input class="buttonNext" type="submit" formmethod="post" formaction="@formaction" value="пересчитать">
		<input class="close" type="submit" formaction="result.html" value="сохранить как задачу">
		<input class="buttonNext" type="button" onclick="copu();" value="в буфер обмена">
	</form>
</div>