@model printing_calculator.ViewModels.Result.Result
@using printing_calculator.ViewModels.Result;
@{
	Layout = "_Layout";
	string size = $"{Model.Height}x{Model.Whidth}";
	string amoutKids = $"{Model.Amount}x{Model.Kinds}";
	string duplex = Model.PaperResult.Duplex ? "4+4" : "4+0";
	int AllCostPrise = Model.LaminationResult.CostPrice + (int)Model.PaperResult.CostPrise;
	int profit = (int)(Model.Price - AllCostPrise);
	int pricePos = Model.PosResult.CreasingPrice + Model.PosResult.DrillingPrice + Model.PosResult.RoundingPrice;

	string formaction = @$"Calculator?HistoryId={Model.HistoryInputId}";

	string copyText = @$"Стоимость изготовления на бумаге {Model.PaperResult.NamePaper} - {Model.PaperResult.Price}";
	double PriceForOne = Math.Round((double)Model.Price / (double)(Model.Amount * Model.Kinds), 2); //округлить до 3х знаков
	float PriceForOneLamonation = Model.LaminationResult.Price / Model.PaperResult.Sheets;
}

@section Style {
<link rel="stylesheet" type="text/css" href="/result2.css">
<script>
	function copu() {
	  navigator.clipboard.writeText('Стоимость изготовления на бумаге @Model.PaperResult.NamePaper - @Model.PaperResult.Price руб.')
	}
</script>
}
@if (!Model.TryTrice)
{
	<div class="errorePrice">
		<p>Цена не актуальная</p>
	</div>
}
<div class="twoColumnsFlex">

	<div class="priceFlex">

		<div class="totalPrice">
			<p class="totalPrice">Итого</p>
			<h1 class="totalPrice">@Model.Price руб.</h1>
			<h2 class="totalPrice">@PriceForOne руб/шт</h2>
		</div>

		<div class="detalPriceBox">
			<div class="grayBackground">
				<p class="leftTextDetalPrice">Бумага</p>
				<p class="rightTextDetalPrice">@Model.PaperResult.Price руб.</p>
			</div>
			<div class="detal">
				<details>
					<summary class="detal">подробнее</summary>
					<p class="detal">себестоимость - @Model.PaperResult.CostPrise руб.</p>
					<p class="detal">чистая прибыль - @profit руб.</p>
					<p class="detal">цена резки - @Model.PaperResult.CutPrics руб.</p>
				</details>
			</div>
		</div>

		<div class="detalPriceBox">
			<div class="grayBackground">
				<p class="leftTextDetalPrice">Ламинация</p>
				<p class="rightTextDetalPrice">@Model.LaminationResult.Price руб.</p>
			</div>
			<div class="detal">
				<details>
					<summary class="detal">подробнее</summary>
					<p class="detal">@Model.LaminationResult.Name</p>
				</details>
			</div>
		</div>

		<div class="detalPriceBox">
			<div class="grayBackground">
				<p class="leftTextDetalPrice">Постпечатная</p>
				<p class="rightTextDetalPrice">@pricePos руб.</p>
			</div>
			<div class="detal">
				<details>
					<summary class="detal">подробнее</summary>
					<p class="detal">биговка - @Model.PosResult.CreasingPrice руб.(@Model.PosResult.CreasingAmount шт.)</p>
					<p class="detal">сверление - @Model.PosResult.DrillingPrice руб. (@Model.PosResult.DrillingAmount шт.)</p>
					<p class="detal">скругление углов - @Model.PosResult.RoundingPrice руб.</p>
				</details>
			</div>
		</div>

	</div>

	<div class="rowInputFlex">
		<div class="paperInput">
			<div class="green">
				<p class="margin2"><b>Бумага</b></p>
			</div>
			<div class="grey">
				<p class="margin">@Model.PaperResult.NamePaper</p>
			</div>
		</div>

		<div class="columnInputFlex">
			<div class="rowInputLitleFlex">

				<div class="smallInput">
					<div class="green">
						<p class="margin">Размер изделия</p>
					</div>
					<div class="grey">
						<p class="margin">@size</p>
					</div>
				</div>
				<div class="smallInput">
					<div class="green">
						<p class="margin">Кол-во/Видов</p>
					</div>
					<div class="grey">
						<p class="margin">@amoutKids шт.</p>
					</div>
				</div>

			</div>
			<div class="rowInputLitleFlex">

				<div class="smallInput">
					<div class="green">
						<p class="margin">Цветность</p>
					</div>
					<div class="grey">
						<p class="margin">@duplex</p>
					</div>
				</div>
				<div class="smallInput">
					<div class="green">
						<p class="margin">Листов:шт/лист</p>
					</div>
					<div class="grey">
						<p class="margin">@Model.PaperResult.Sheets л.:@Model.PaperResult.PiecesPerSheet шт/л</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="button">
	<form>
		<input class="buttonNext" type="submit" formmethod="post" formaction=@formaction value="Пересчитать">
		<!-- <input class="close" type="submit" formaction="result.html" value="сохранить как задачу"> -->
		<input class="buttonNext" type="button" onclick="copu();" value="Cкопировать">

	</form>
</div>